

body {
    background-color: black;
    color: white;
}

#map {
    font-family: monospace;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 0.8;
    width: 40%;
    float: left;


}

#cbat {
    width: 40%;
    font-family: monospace;
    float: left;
}

#misc {
    position: absolute;
    top: 10px;
    left: 965px;

}

.layered {
    position: absolute;
    top: 10px;
    left: 5px;
}

.misc {
    position: absolute;
    top: 10px;
    left: 491px;
}
