

body {
    background-color: black;
    color: white;
}

#map {
    font-family: monospace;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 0.8;
    width: 40%;
    float: left;


}

#cbat {
    width: 40%;
    font-family: monospace;
    float: left;
}


.canvasLayer {
    position: absolute;
    top: 5px;
    left: 5px;
    border-style: solid;
}

#column1 {
    position: absolute;
    top: 5px;
    left: 490px;
    border-style: solid;
    height: 480px;
    max-height: 480px;
    width: 250px;
    max-width: 250px;
}


#hp {
    top: 5px;
    border-style: solid;
    height: 20px;
    max-height: 20px;
}
#wear {
    top: 25px;
    border-style: solid;
    height: 105px;
    max-height: 105px;
}
#inventory {
    top: 130px;
    border-style: solid;
    height: 170px;
    max-height: 170px;
    overflow-y: scroll;
}
#info {
    top: 305px;
    border-style: solid;
    height: 170px;
    max-height: 170px;
    overflow-y: scroll;
}


#column2 {
    position: absolute;
    top: 5px;
    left: 750px;
    border-style: solid;
    height: 480px;
    max-height: 480px;
    width: 250px;
    max-width: 250px;
}
