

body {
    background-color: black;
    color: white;
}

#map {
    font-family: monospace;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 0.8;
    width: 40%;
    float: left;


}

#cbat {
    width: 40%;
    font-family: monospace;
    float: left;
}

#misc {
    position: absolute;
    top: 5px;
    left: 490px;
    border-style: solid;
}

#chat {
    top: 5px;
    border-style: solid;
}
#chatMessageDiv {
    top: 50px;
    border-style: solid;
}
#hp {
    top: 200px;
    border-style: solid;
}
#inventory {
    top: 230px;
    border-style: solid;
}
#info {
    top: 300px;
    border-style: solid;
}
#wear {
    top: 440px;
    border-style: solid;
}

.canvasLayer {
    position: absolute;
    top: 5px;
    left: 5px;
    border-style: solid;
}
